
// Body
$body-bg: #f5f8fa;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                84 !default;
$grid-gutter-width:           30px !default;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
