
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.day {
  min-height: 45px;
  cursor: pointer;
}
.disabled-day{
  cursor: default;
  background: #f3f3f3;
}
.no-day{
  cursor: default;
  background: #e6e6e6;
}
.festivo{
  cursor: default;
  background: #ff00009c;
}
